.winner{
	color: green;
}
.jumbotron{
	margin-top: 40px;
	border-radius: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    padding-top: 100px;
    padding-bottom: 100px;
}